.navigation {
  height: 175px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  .nav-link {
    cursor: pointer;
    text-decoration: none;

    .logo-container {
      max-width: 300px;
      max-height: 300px;
    }
  }
  svg.logo {
    width: 400px;
    height: 400px;
  }
}
